$vollkorn: "Vollkorn", serif;
$fs-logo: 2.5rem;

$fs-h1: 3rem;
$fs-h2: 1.8rem;
$fs-h3: 1.3rem;
$fs-h4: 0.9rem;
$fs-h5: 0.8rem;
$fs-h6: 0.7rem;
$fs-std: 1rem;

$fw-bold: 700;

$color-black: #2d3440;
$color-black-light: #2d3440bf;
$color-white: #fff;
$color-grey: #a6a6a5;
$color-light-grey: #f6f6f6;
$color-red: #f86e6e;
$color-light-brow: #f6ede6;
$color-light-light-brown: #cdc9c7;
$color-dark-brow: #54453d;
$color-dark-brow-hover: #54453dbf;
$color-yellow: #ffe18e;
$color-yellow-hover: #ffe18ebf;

$trans-normal: 0.5s ease-in-out;
