@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap");

@import "./config.scss";
body {
  font: {
    family: $vollkorn;
    size: 1rem;
    weight: 400;
  }
  color: $color-black;
  background-color: $color-light-brow;
}
.container {
  padding: 2em 2em 0 2em;
}

// Start layout
.wrapper {
  display: grid;
  grid-template:
    "sider header" auto
    "sider content" auto
    / 1fr 3fr;
}

.sider {
  grid-area: sider;
  align-self: start;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-light-brow;
}
.content {
  grid-area: content;
  overflow: auto;
}
.logo {
  font-size: $fs-logo;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1;
}
// End layout

.nav-text {
  text-transform: uppercase;
  font-weight: $fw-bold;
  font-size: $fs-h4;
  &.title {
    font-size: 0.5rem;
    height: 25px;
  }
}

.category {
  font-size: $fs-h1;
  text-transform: capitalize;
  font-weight: $fw-bold;
  color: $color-black;
}

.card-container {
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  .card {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
  }
  @media (min-width: 1281px) {
    .card-col {
      width: 16.66666666667%;
    }
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    .card-col {
      width: 20%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .card-col {
      width: 33.33333333%;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card-col {
      width: 25%;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .card-col {
      width: 50%;
    }
  }
  @media (min-width: 320px) and (max-width: 480px) {
    .card-col {
      width: 100%;
    }
  }
}

.detail-img {
  border-radius: 0 50% 50% 0;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.food-detail {
  .name {
    font-size: $fs-h1;
    font-weight: 900;
    margin-bottom: 0;
  }
  .desc {
    color: $color-grey;
  }
  .title {
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: $fs-h6;
    color: $color-grey;
  }

  .total-price {
    font-size: 2.5rem;
    margin-right: 1em;
  }
}

.nav-back {
  font-weight: $fw-bold;
  text-transform: uppercase;
  font-size: $fs-h4;
  cursor: pointer;
}

.order-cart {
  position: absolute;
  display: flex;
  flex-flow: column;
  left: 0;
  height: 100%;
  width: 100%;
  .cart-header {
    padding: 0 1em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $color-white;
    .title {
      font-size: 1.8em;
      font-weight: $fw-bold;
      text-transform: capitalize;
    }
    .nav-back {
      text-align: right;
      cursor: pointer;
      i {
        margin-left: 0.5em;
      }
    }
  }
  .cart-content {
    overflow-y: auto;
    padding: 1em;
    .title-row {
      line-height: 2em;
      margin-bottom: 0.5em;
      .category {
        text-transform: capitalize;
        font-size: $fs-h3;
        font-weight: $fw-bold;
        &.disable {
          color: $color-grey;
        }
      }
      .total {
        text-transform: uppercase;
      }
    }
    .item {
      width: 100%;
      height: 100%;
      margin: 0.5em 0;
      .name-qty-grp {
        border-bottom: 2px solid #e8e8e8;
      }
      img {
        width: 50px;
        border-radius: 50%;
        margin-right: 1em;
      }
      .name {
        text-transform: capitalize;
        font-size: $fs-std;
        word-break: break-word;
      }
      .qty {
        font-weight: $fw-bold;
        font-size: $fs-h3;
        text-align: center;
      }
    }
  }
  .bottom {
    background-color: $color-light-grey;
    padding: 1em;
    // height: 100%;
    .cart-bottom {
      padding-bottom: 2em;
      .sub-price {
        font-size: $fs-std;
        border-bottom: 2px solid #e8e8e8;
        margin-bottom: 0.5em;
        .title {
          color: $color-grey;
        }
        .price {
          font-weight: $fw-bold;
          color: $color-black-light;
        }
      }
      .total-price {
        margin-bottom: 0.5em;
        .title {
          font-size: $fs-h3;
        }
        .price {
          font-size: $fs-h2;
          font-weight: $fw-bold;
        }
      }
    }
  }
}
.payment {
  padding: 2em;
  .payment-list {
    .payment-item {
      padding: 1em;
      height: 100%;
      .method {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 1em;
        border-radius: 15px;
        border: solid 1px $color-light-grey;
        background-color: $color-white;
        opacity: 0.5;
        &.active {
          border: solid 5px $color-yellow;
          opacity: 1;
        }
      }
      .card-code {
        margin-bottom: 1em;
      }
    }
  }
  .desc {
    text-align: center;
    color: $color-grey;
  }
  .total {
    margin-top: 3em;
    .title {
      text-align: center;
      color: $color-grey;
      margin: 0;
    }
    .number {
      font-size: $fs-h1;
      text-align: center;
      font-weight: $fw-bold;
    }
  }
}

.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.txt-bold {
  font-weight: $fw-bold;
}
.mt-2 {
  margin-top: 2em;
}
.mt-1 {
  margin-top: 1em;
}

.pl-1 {
  padding-left: 1em;
}
.pl-2 {
  padding-left: 2em;
}
