@import "../../styles/config.scss";
.btn-view-card {
  position: relative;
  padding: 0.5em 1em;
  height: 100%;
  text-transform: uppercase;
  float: right;
  font-weight: $fw-bold;
  background-color: $color-dark-brow;
  color: $color-white;

  &.onChange {
    background-color: $color-dark-brow;
    transition-property: background-color 3s;
    transition-duration: 3s;
  }
  .count {
    margin-left: 10px;
    border-radius: 50%;
    font-size: $fs-h4;
    color: $color-dark-brow;
    background-color: $color-yellow;
    width: 1.5em;
    height: 1.5em;
  }
  &.hover {
    background-color: $color-white;
    color: $color-dark-brow;
  }
}

/* starting ENTER animation */
.btn-onchange-enter {
  border: 1px solid;
  animation-name: spin;
  animation-duration: 250ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: all 250ms ease-in-out;
}

/* ending ENTER animation */
.btn-onchange-enter-active {
  transition: all 1000ms ease-in-out;
}

.btn {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: $fw-bold;
  border: none;
  &.btn-order {
    border-radius: 35px;
    padding: 1em 2.5em;
    background-color: $color-yellow;
    color: $color-dark-brow;
  }
  &.btn-order:hover {
    background-color: $color-yellow-hover;
    color: $color-dark-brow-hover;
    transition: $trans-normal;
  }
  &.btn-confirm {
    border-radius: 35px;
    padding: 1em 2.5em;
    background-color: $color-red;
    color: $color-white;
  }
  &.btn-confirm:hover {
    background-color: $color-red-hover;
    transition: $trans-normal;
  }
}

.spinbox {
  display: flex;
  align-items: center;
  background-color: $color-light-grey;
  padding: 0.25em 1em;
  margin: 0 1px;
  border-radius: 25px;
  font-size: $fs-std;
  .operator {
    cursor: pointer;
  }
  :nth-child(2) {
    width: 3em;
    font-weight: 900;
    font-size: $fs-h3;
    text-align: center;
  }
}
@keyframes spin {
  from {
    // transform: rotate(0deg) scale(1.3);
    transform: scale(1.3);
  }
  to {
    // transform: rotate(360deg) scale(1.3);
    transform: scale(1.3);
  }
}
