@import "../../styles/config.scss";
ul.filter {
  list-style-type: none;
  padding: 0;
  display: inherit;
  width: 100%;
  li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 5px;
    font-size: 0.8rem;
    cursor: pointer;
    white-space: nowrap;

    &.active {
      border: 1.3px solid $color-grey;
      font-weight: bolder;
      border-radius: 3px;
    }
    &.active:hover {
      background-color: $color-white;
      //   border: none;
      //   font-weight: 400;
    }
  }
  li:first-child {
    padding-left: 0;
  }
  li:hover {
    border: 1.3px solid $color-grey;
    border-radius: 3px;
    font-weight: bolder;
    transition: $trans-normal;
  }
}
