@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,700&display=swap");

@import "./config.scss";
body {
  font: {
    family: $vollkorn;
    size: 1rem;
    weight: 400;
  }
  color: $color-black;
  background-color: $color-light-brow;
}

// Start layout
.wrapper {
  display: grid;
  grid-template:
    "sider header" auto
    "sider content" auto
    / 1fr 3fr;
}

.sider {
  grid-area: sider;
  align-self: start;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}
.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-light-brow;
}
.content {
  grid-area: content;
  overflow: auto;
}
.logo {
  font-size: $fs-logo;
  font-weight: bolder;
  text-transform: uppercase;
}
// End layout

.nav-text {
  text-transform: uppercase;
  font-weight: $fw-bold;
  font-size: $fs-h4;
  &.title {
    font-size: 0.5rem;
    height: 25px;
  }
}

.filter {
  text-transform: uppercase;
  margin: 0 5px;
  padding: 0 5px;
  font-size: $fs-h5;

  &.active {
    border: 1.3px solid $color-grey;
    border-radius: 3px;
    font-weight: bolder;
  }
}

.category {
  font-size: $fs-h1;
  text-transform: capitalize;
  font-weight: $fw-bold;
  color: $color-black;
}

.container {
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
  .card {
    display: flex;
    flex-flow: column;
  }
}

.detail-img {
  border-radius: 0 50% 50% 0;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}


.food-detail {
  .name {
    font-size: $fs-h1;
    font-weight: 900;
    margin-bottom: 0;
  }
  .desc {
    color: $color-grey;
  }
  .title {
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: $fs-h6;
    color: $color-grey;
  }
}

.nav-back {
  font-weight: $fw-bold;
  text-transform: uppercase;
  font-size: $fs-h4;
}

.mt-2 {
  margin-top: 2em;
}
.mt-1 {
  margin-top: 1em;
}

.pl-1 {
  padding-left: 1em;
}
.pl-2 {
  padding-left: 2em;
}
