@import "../../styles/config.scss";

.size-list {
  display: flex;
  .size {
    background: $color-light-grey;
    padding: 0.25em 1em;
    margin: 0 1px;
    .text {
      text-transform: uppercase;
      font-size: $fs-h4;
      font-weight: 900;
    }
    .amount {
      margin-left: 0.5em;
      font-size: $fs-h4;
      color: $color-grey;
    }
    &.active {
      background-color: $color-dark-brow;
      color: $color-white;
      .amount {
        color: $color-yellow;
      }
    }
  }

  :first-child {
    border-radius: 20px 0 0 20px;
  }
  :last-child {
    border-radius: 0 20px 20px 0;
  }
}

.topping-list {
  display: flex;

  [type="checkbox"] {
    opacity: 0;
    position: absolute;
  }

  .topping label {
    display: flex-inline;
    align-items: center;
    position: relative;
  }

  .custom-checkbox {
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: $fs-h4;
    padding: 0.5em 1em;
    margin: 0 1px;
  }
  .topping:hover .custom-checkbox,
  [type="checkbox"]:focus + label .custom-checkbox {
    background: $color-dark-brow;
    color: $color-white;
  }

  [type="checkbox"]:checked + label .custom-checkbox {
    background: $color-dark-brow;
    color: $color-white;
  }

  [type="checkbox"]:not(:checked):not(:hover) + label .custom-checkbox {
    background-color: $color-light-grey;
    color: $color-dark-brow;
  }
}


.content-right {
  text-align: right;
}
